<div class="search-filter" ng-init="searchString=[]">
	<label for="search">Filter</label>
	<input id="search" type="text" ng-model="searchString" ng-list="" placeholder="What are your favourite ingredients?">
</div>

<div class="no-results" ng-hide="(menu | arrayFilter:{ ingredients : searchString }).length">
    <h3>Sorry!</h3>
    <p>We don't have any bagels that match your search. Try removing some ingredients.</p>
</div>

<table class="menu">
	<tbody>
    <tr>
        <td class="menu-category" colspan="3" ng-show="(menu | filter:{ category : 'Classics' } | arrayFilter:{ ingredients : searchString }).length">
            <h3>Classics</h3>
        </td>
    </tr>
    <tr class="item-row" ng-repeat="item in menu | filter:{ category : 'Classics' } | arrayFilter:{ ingredients : searchString } ">

        <td class="title">{{ item.title }}</td>
        <td class="ingredients">{{ item.ingredients | join:', ' }}</td>
        <td class="price">{{ item.price | currency:'£' }}</td>
    </tr>

    <tr>
        <td class="menu-category" colspan="3" ng-show="(menu | filter:{ category : 'Supremes' } | arrayFilter:{ ingredients : searchString }).length">
            <h3>Supremes</h3>
        </td>
    </tr>

    <tr class="item-row" ng-repeat="item in menu | filter:{ category : 'Supremes' } | arrayFilter:{ ingredients : searchString } ">
        <td class="title">{{ item.title }}</td>
        <td class="ingredients">{{ item.ingredients | join:', ' }}</td>
        <td class="price">{{ item.price | currency:'£' }}</td>
    </tr>

    <tr>
        <td class="menu-category" colspan="3" ng-show="(menu | filter:{ category : 'Patties' } | arrayFilter:{ ingredients : searchString }).length">
            <h3>Patties</h3>
        </td>
    </tr>

    <tr class="item-row" ng-repeat="item in menu | filter:{ category : 'Patties' } | arrayFilter:{ ingredients : searchString } ">
        <td class="title">{{ item.title }}</td>
        <td class="ingredients">{{ item.ingredients | join:', ' }}</td>
        <td class="price">{{ item.price | currency:'£' }}</td>
    </tr>

    </tbody>
</table>